<h2>Infos about my restaurant</h2>

<p>Name: <%= @restaurant.name %></p>
<p>Rating: <%= @restaurant.rating %></p>
<p>Address: <%= @restaurant.address %></p>

<%= link_to "See all restaurants", restaurants_path %>
